.BarWrapper {
  background: rgb(225, 6, 0);
  color: #fff;
}

.BarWrapper a {
  color: #fff;
}

.Bar {
  display: flex;
  height: 4em;
  padding: 0.5em 1em;
  align-items: center;
}

.Bar>div:first-child {
  flex-grow: 1;
}

.Icons svg {
  font-size: 2em;
}