.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wrapper > div {
    margin: 0 1em;
}

@media only screen and (max-width: 900px) {
    .Wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        padding: 1em;
        z-index: 10;
    }

    .Wrapper > div {
        margin: 0 .5em;
    }
}